<div class="row p-2">

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2 gx-4 rounded" >
        <div class="card p-2" #val>
            <div class="card-body">
                <h4 class="card-title">New in IPhone</h4>
                <p card="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
            <button class="btn btn-more" (click)="showDetails(1)">Show More</button>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2 gx-4 rounded" >
        <div class="card p-2" >
            <div class="card-body">
                <h4 class="card-title">New in Samsung</h4>
                <p card="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
            <button class="btn btn-more" (click)="showDetails(2)">Show More</button>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2 gx-4 rounded" >
        <div class="card p-2" >
            <div class="card-body">
                <h4 class="card-title">New in GooglePixel</h4>
                <p card="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
            <button class="btn btn-more" (click)="showDetails(3)">Show More</button>
        </div>
    </div>
    

</div>

